@model IEnumerable<Report>

@{
    ViewData["Title"] = "ManageReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ManageReports</h1>
@if(Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="AddReport" 
       asp-controller="ReporterSpace">Add New Report</a>

    foreach(var report in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            Report Date @report.CreationDate
                        </div>
                        <div class="card-body">
                            Hazard Location : @report.HazardLocation <br />
                            Hazard Type : @report.HazardType <br />
                            Date of the Hazard : @report.HazardDate <br />
                            Description : @report.Description <br />
                            Status : @report.Status.StatusOfReport <br />
                            Status : @report.Reporter.Email <br />
                        </div>
                        <div class="card-footer">
                            <a  class="btn btn-primary"
                                asp-action="EditReport" asp-controller="ReporterSpace" asp-route-id="@report.ReportId">
                                Edit
                            </a>
                            <a class="btn btn-danger"
                             asp-action="DeleteReport" asp-controller="ReporterSpace"  asp-route-id="@report.ReportId">
                               Delete
                            </a>
                        </div>
                    </div>
                }

}
else
{
    <div class="card">
        <div class="card-header">
            You have no reports yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a report
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="ReporterSpace" asp-action="AddReport">
                Create Report
            </a>
        </div>
    </div>

            }
